html {box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit;}

.cf:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

body{
	font-family: Oswald, sans-serif;
	color: #414143;
}

.wrapper{
	margin: 0 auto;
	width: 90%;
}

header{
	background: #414143;
	color: #31AB54;
	padding: 10px;
}

header h1{
	font-size: 54px;
	padding-bottom: .25em;
}

.logo{
	font-weight: bold;
}

a{
	text-decoration: none;
	color: #31AB54;
}

a:hover {
	 color: #135F9B;
}

nav ul li {
     float:left;
}

     nav ul li a {
         padding: 20px 30px 5px 0px;
     }

     
.carousel{
	width: 100%;
	margin: 0 auto;
}

.carousel img{
	width: 100%;
}

 .tout{
  	width: 33%;
  	background: rgba(49,171,84,.25);
  	height: 33%;
  	display: inline-block;
  	padding: 10px;
  	margin-top: .5%;
  	margin-right: .5%;
  	
}

.tout:last-of-type{
	margin-right: 0;
}

.tout-left{
	float: left;
}

.tout-right{
	
	float: right;
}

h2{
	font-size: 20px;
	font-weight: bold;
	padding-bottom: .5em;
	text-align: center;
}

.button{
	background: #414143;
	text-align: center;
	display: inline-block;
	width: 100%;
	padding: 10px;
	border-radius: 10px;
}

footer{
	overflow: auto;
	padding: 10px;
}

.augsLogo{
	width: 20%;
	margin-right: 2em;
	float: left;
	clear: both;
}

footer p{
	vertical-align: bottom;
}

.socialMedia{
	float:right;
	padding-left: 5px;
}

#calendar{
	margin: 1em;
}

.hamburger{
	text-decoration: none;
	width: 16.67%;
	float: left;
}

.mobile-only {
	display: none;
}

/*Page 2 Styles*/
.intro{
	margin: .5%;
	padding: .5%;
}

h1{
	font-size: 28px;
}

.form{
	padding: 10px;
}

#submit{
	background: #414143;
	text-align: center;
	display: inline-block;
	width: 30%;
	padding: 10px;
	border-radius: 10px;
	font-family: Oswald;
	font-size: 20px;
	color: #31AB54;
}

/*Mobile Styles*/
@media screen and (max-width:622px){
	.desktop-only {
		display: none;
		width: auto;
        float: none;
	}

	.mobile-only {
		display: inline-block;
	}

	header h1{
		font-size: 36px;
		padding-bottom: .25em;
	}

	.dropdown{
		display: block;
		width: 100%;
        text-align: left;
        padding:10px;
	}

	.tout{
		display: block;
		width: 100%;
		float: none;
	}

	.augsLogo{
		display: none;
	}

	footer p{
		font-size: 12px;
	}

	.socialMedia{
		width: 10%;
		float:right;
		padding-left: 3px;
}

}


